
<div class="container">
  <h1 class="text-center">Niloufer Massages - Partenaires </h1>

<link href="bootstrap-carousel-fit" rel="stylesheet" />
<script src="bootstrap-carousel-fit"/></script/>

    <% if current_user %>
      <%= link_to "Ajouter un Partenaire",new_partner_path  %>
    <% end %>

    <div class="wrapper-grey">
      <div class="container card-container-partner">
        <% @partners.each do |partner| %>
          <div class="row">
            <!-- description partner -->
            <div class="col-xs-12 col-sm-6">
              <% if current_user %>
                  <h3> <%= partner.name %>
                <%= link_to edit_partner_path(partner) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
                <%= link_to partner_path(partner), method: :delete do %>
                  <i class="fa fa-trash " aria-hidden="true"></i>
                <% end %>
              <% else %>
                <div>
                  <h2><%= partner.name %></h2>
                  <% if partner.link && partner.email %>
                    <p> <%= link_to "Site internet : #{partner.link}", partner.link %> </p>
                    <p> <%= "Email : #{partner.email}" %> </p>
                  <% elsif partner.link %>
                    <p> <%= link_to "Site internet : #{partner.link}", partner.link %>  </p>
                  <% elsif partner.email %>
                    <p> <%= "Email : #{partner.email}" %> </p>
                  <% end %>
                  <p><%= partner.description %></p>
                </div>
              <% end %>
            </div>

            <!-- photo partner -->
            <div class="col-xs-12 col-sm-6">
              <% if partner.photos? %>

                <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
                  <div class="partner-card">

                  <!-- Wrapper for slides -->
                    <% if partner.photos.length > 1 %>
                      <div class="carousel-inner">
                        <div class="item active card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path partner.photos[0].path, alt: 'Slideshow' %>')">
                        </div>
                        <% for i in 1..partner.photos.length-1 do %>
                          <div class="item card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path partner.photos[i].path, alt:'Slideshow' %>')">
                          </div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="item card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path partner.photos[0].path, :alt => 'Slideshow' %>')">
                      </div>
                    <%end %>
                  <!-- Indicators (little white dots)-->
                    <% if partner.photos.length > 1 %>
                      <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to= "0" class="active"></li>
                        <% for i in 1..partner.photos.length-1 do %>
                          <li data-target="#myCarousel" data-slide-to= <%"#{i}"%> ></li>
                        <% end %>
                      </ol>
                    <% end %>


                  <!-- Controls chevrons left and right -->
                    <% if partner.photos.length > 1 %>
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                      </a>
                    <% end %>
                  </div>





              <% else %>
                <div class="partner-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path 'default_card.jpg' %>');">
              <% end %>
                <!-- ATTENTION A LA LANGUE DE LA DATE -->
                </div>
            </div>
          </div>
            <% end %>





      </div>
    <!-- Boutons pour admin  -->
    </div>
</div>

