<div class="container text-center">
  <h1>Niloufer Massages - Partenaires </h1>

  <div class="row">
    <div class = "col-xs-12 col-md-offset-2 col-md-8">
      <table>
        <thead>
          <td>Partenaire</td>
          <td>Description</td>
          <td>Contact</td>
          <td><% if current_user.admin? %>
              <%= "Modifier" %>
            <% end %>
          </td>
        </thead>
        <tbody>
          <% @partners.each do |partner| %>
          <tr>
            <td> <%= partner.name %> </td>
            <td> <%= partner.description %> </td>
            <td> <%= "#{partner.email} #{partner.link}" %> </td>
            <!-- Boutons pour admin  -->
            <td><% if current_user.admin? %>
                  <%= link_to edit_partner_path(partner) do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to partner_path(partner), method: :delete do %>
                    <i class="fa fa-trash " aria-hidden="true"></i>
                  <% end %>
                <% end %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Boutons pour admin  -->
  <% if current_user.admin? %>
    <%= link_to "Ajouter un Partenaire",new_partner_path %>
  <% end %>
</div>
