 <div class="col-xs-12 col-md-offset-3 col-md-6">
  <div class="simple_form_for">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.submit "Sauvegarder ", class: "btn-search" %>
    <% end %>
  </div>
</div>
