<div class="container margin-top">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <div class="simple_form_for">
      <%= simple_form_for @event do |f| %>
        <div class = "row">
          <div class="col-xs-12">
            <%= f.input :name, label:"Nom" %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :number, label:"N°" %>
          </div>
          <div class="col-xs-12 col-md-6">
            <%= f.input :date %>
          </div>

          <div class="col-xs-12">
            <%= f.input :description %>
          </div>
          <div class="col-xs-12">
            <%= f.input :home, :as => :boolean, label:" Evenement page d'accueil ?" %>
          </div>
          <div class="col-xs-12">
            <%= f.input :resume, label:"Phrase pour page d'accueil" %>
          </div>
          <div class="col-xs-12">
            <%= f.input :photos, as: :attachinary %>
          </div>
          <div class="col-xs-12">
            <%= f.submit "Sauvegarder ", class: "btn-search" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
