<div class="container">
  <h1 class="text-center">Niloufer Massages - Evenements </h1>

  <!-- Nouvel event -->
      <% if current_user %>
        <%= link_to "Ajouter un Evenement",new_event_path %>
      <% end %>

      <div class="wrapper-grey">
        <div class="container card-container">
          <% @events.each do |event| %>
            <div class="row">
            <!-- event photo -->
              <div class="col-xs-12 col-sm-6">
                <% if event.photos? %>
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.photos.first.path, height: 175, width: 360, crop: :fill; %>');">
                <% else %>
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path 'default_card.jpg' %>');">
                <% end %>
                <div class="card-category"><%= event.date.strftime('%a %d %b %Y') %>
                </div>
                  <!-- ATTENTION A LA LANGUE DE LA DATE -->
                  </div>
              </div>

              <!-- event description -->
              <div class="col-xs-12 col-sm-6">
                <% if current_user %>
                    <h3> <%= event.name %> </h3>
                  <% if event.home? %>
                    <i style="color:green" class="fa fa-check" aria-hidden="true"></i>
                  <% else %>
                    <i style="color:red" class="fa fa-times" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to edit_event_path(event) do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to event_path(event), method: :delete do %>
                    <i class="fa fa-trash " aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <div>
                    <h2><%= event.name %></h2>
                    <p><%= event.description %></p>
                  </div>
                <% end %>
              </div>


          </div>
              <% end %>


        </div>
    <!-- Boutons pour admin  -->
  </div>
</div>
