<div class="banner">
  <h1>Découvrez le Massage Ayurvédique</h1>
</div>

<div id="home-container">
  <div class="row">

<!-- Masage Card code -->
    <div class="col-xs-12 col-sm-6 card-container">
      <div class="card card-front" id="massage-background">
        <div class="card-title">
          <h2>MASSAGES</h2>
        </div>
        <div class="card-description">
          <h2>Venez découvrir tous les massages</h2>
        </div>
        <%= link_to "", prices_path, class: "card-link" %>
      </div>
    </div>


    <!-- Tentative ajout carousel  -->
    <link href="bootstrap-carousel-fit" rel="stylesheet" />
    <script src="bootstrap-carousel-fit"/></script/>

    <div class="col-xs-12 col-sm-6 card-container">
      <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
        <div class="card">
          <% if @events.nil? || @events == [] %>
            <div class="card card-front" id="event-background">
              <div class="card-title">
                <h2>CONSULTER NOS EVENEMENTS PASSES !</h2>
              </div>
              <div class="card-description">
                <p>N'hésitez-pas à consulter notre page évènement </p>
              </div>
              <%= link_to "", events_path, class: "card-link" %>
            </div>

            <p>N'hésitez-pas à consulter notre page évènement <%= link_to "ici", events_path %> </p>
          <% elsif @events.length > 1 %>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @events[0].photos[0].path, alt: 'Ongoing Events Slideshow' %>')">
                <div class="card-title">
                   <h2><%= link_to "EN CE MOMENT...!", events_path %></h2>
                </div>
                <div class="card-description">
                  <h2><%= @events[0].name %></h2>
                  <p> <%= @events[0].resume %></p>
                </div>
              </div>
              <% for i in 1..@events.length-1 do %>
                <div class="item card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @events[i].photos[0].path, alt:'Ongoing Events Slideshow' %>')">
                  <div class="card-title">
                    <h2><%= link_to "EN CE MOMENT...!", events_path %></h2>
                  </div>
                  <div class="card-description">
                    <h2><%= @events[i].name %></h2>
                    <p> <%= @events[i].resume %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="item card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @events[0].photos[0].path, alt:'Ongoing Events Slideshow' %>')">
                <div class="card-title">
                  <h2><%= link_to "EN CE MOMENT...!", events_path %></h2>
                </div>
                <div class="card-description">
                  <h2><%= @events[0].name %></h2>
                  <p> <%= @events[0].resume %></p>
                </div>
                </div>
              <%end %>

            <!-- Indicators (little white dots)-->
            <% if @events.length > 1 %>
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to= "0" class="active"></li>
                <% for i in 1..@events.length-1 do %>
                  <li data-target="#myCarousel" data-slide-to= <%"#{i}"%> ></li>
                <% end %>
              </ol>
            <% end %>


            <!-- Controls chevrons left and right -->
            <% if @events.length > 1 %>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            <% end %>

        </div>
      </div>

    </div>

  </div>
</div>
