<div class="banner">
  <h1>Découvrez le Massage Ayurvédique</h1>
</div>



<!-- Cards code -->
<div class="container card-container">
  <% if @events.nil? || @events == [] %>
    <p>N'hésitez-pas à consulter notre page évènement <%= link_to "ici", events_path %> </p>
  <% else %>
    <h3>En ce moment </h3>
    <% @events.each do |event| %>
      <div class="col-xs-12 col-sm-6">
        <% if event.photos? %>
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path event.photos.first.path, height: 175, width: 360, crop: :fill; %>');">
        <% else %>
          <div class="card-front" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path 'default_card.jpg' %>');">
        <% end %>
        <div class="card-category"><%= event.date.strftime('%a %d %b %Y') %></div>
        <div class="card-description">
          <h2><%= event.name %></h2>
          <p><%= event.resume %></p>
        </div>
        <%= link_to "", events_path, class: "card-link" %>
          </div>
      </div>
    <% end %>
  <% end %>
</div>


<div class="container" >
  <div class="container-margin">
    <div class="row">

      <!-- Left box -->
      <div class = "col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <h3 id="scroll-to">Massages description </h3>
            <p> Le massage ayurvédique zefoiheqf fzoqhf qfdhozqfhoz  fzef fzefzf ezf zefoiheqf fzoqhf qfdhozqfhoz  fzef fzefzf ezf zf zfe zff zefoiheqf fzoqhf qfdhozqfhoz  fzef fzefzf ezf zefoiheqf fzoqhf qfdhozqfhoz  fzef fzefzf ezf zefoiheqf fzoqhf qfdhozqfhoz  fzef fzefzf ezf </p>
            <p>massage 1 : bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            <p>massage 2 : bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            <p>massage 3 : bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
          </div>
        </div>
      </div>

    <!-- if  md or large-->
      <div class = "col-xs-12 col-md-offset-1 col-md-3" id="nilou-sidebar">
      <!-- Right box - nilou description-->
        <div class="row">

          <div class = "col-md-12">
            <% if @admin.photo? %>
              <%= cl_image_tag @admin.photo.path, width: 300, height: 300, crop: :fill, class:"avatar-large" %>
            <% end %>
            <h3> <%= @admin.name %> </h3>
          </div>
          <div class = "col-md-12">
            <p><%= @admin.description %></p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
