<div class="container">
  <div class="row">
    <div class = "col-xs-12 col-md-offset-2 col-md-8">
      <h1 class="text-center" >Tarifs </h1>

      <% if current_user %>
        <%= link_to "Ajouter un massage",new_price_path %>
      <% end %>

        <!-- TALK BUBBLE -->
      <% @prices.each do |price| %>
        <div class="row">

          <div class = "col-xs-6 col-md-4">
            <div id="talkbubble">
              <h4><%= price.name.upcase %></h4>
              <div id="price-bubble"><%= "#{price.cost} €" %></div>
            </div>
          </div>

          <div class = "col-xs-6 col-md-8">
            <span> <strong> <%= "#{price.length} min :" %> </strong>
              <%= price.description %>
              <% if current_user %>
                <%= link_to edit_price_path(price) do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                <% end %>
                <%= link_to price_path(price), method: :delete do %>
                  <i class="fa fa-trash " aria-hidden="true"></i>
                <% end %>
              <% end %>
            </span>
          </div>

        </div>
      <% end %>

    </div>
  </div>
</div>
